
    <!-- About Section -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                 <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/danieldrums.png", class: "img-thumbnail")%><!--img class="img-responsive" src="img/profile.png"--> <alt="">
               <div class="col-lg-8 col-lg-offset-2 text-center">
                  <div class="col-lg-12 text-center">
                              <h1>About Me</h1>
                              <hr class="star-light">
                  </div> 
                    <%= link_to "Contact Me", pages_contact_path, class: "fa fa-wechat", class: "btn btn-lg btn-outline" %>
              </div>
            </div>
        </div>    
   </header> 
   </br>
   <body>
              <div class="row" id="aboutme">
                <div class="bio">
                  <div class="col-lg-6  text-left">
                      <div class="col-lg-6 text-right" id="aboutlogo">
                          <h1>DESIGNS</h1><h1><strong>FORGED</strong></h1>
                          <h1><small><strong>WITH</strong></small>PASSION</h1>
                      </div>
                      <p>My name is Daniel John Byrne
                      I created this application to showcase some of my Ruby on Rails abilities. This website features a short portfolio and biography about myself and offers users a chance to contribute articles to this site. The articles will be found on the home page under "recent articles". To add, view and create artcles you must <a href="http://danieljohnportfolio.herokuapp.com/users/sign_up"><strong>Sign Up!</strong></p></a> 
                    
                      <h3>About Me:</h3>
                      <p>I am a Freelance Full Stack Ruby on Rails developer. I was introduced to Ruby on Rails in 2015. In addition to Ruby on Rails I have worked on various projects using the following:
                      </br>
                      <!-- Tools and Tech I use -->
                      <br>
                        <strong>                         
                            <div class="techlogo">
                                <p>
                                <i class="devicon-html5-plain colored">HTML5</i> 
                                <i class="devicon-css3-plain-wordmark colored">CSS3</i> 
                                <i class="devicon-jquery-plain colored">jQuery</i> 
                                <i class="devicon-javascript-plain">JavaScript</i>
                                </p> 
                                <p>
                                <i class="devicon-bootstrap-plain-wordmark">BootStrap</i>  
                                <i class="devicon-sass-original colored">Sass</i> 
                                <i class="devicon-heroku-plain-wordmark colored">HEROKU</i>  
                                <i class="devicon-github-plain">GitHub</i>
                                </p> 
                                <p>
                                <i class="devicon-wordpress-plain">WordPress</i> 
                                <i class="devicon-amazonwebservices-original colored">AWS</i> 
                                <i class="devicon-postgresql-plain colored">PgAdmin</i> 
                                <i class="devicon-chrome-plain colored">WebInspect</i>
                               </p> 
                                <p>
                                <i class="devicon-mysql-plain colored">MySql</i>
                                <i class="devicon-apple-original">OSX</i>
                                <i class="devicon-ubuntu-plain colored">Ubuntu</i>
                                <i class="devicon-photoshop-line">PhotoShop</i>
                                </p>
                                <p>
                                <i class="fa fa-cloud">Cloud9IDE</i>
                                <i class="devicon-ruby-plain colored">Ruby</i>
                                <i class="devicon-rails-plain colored">Rails</i>
                                </p>
                            </div>
                        </strong>
                      </br>
                      </p>

                      <p>In June 2014 two friends and I came up with an idea to create an E-Commerce store selling mens clothing and accessories, from there I decided if I'm going to enter the E-commerce world I should learn how to develop my own website and thats exactly what I did. By learning WordPress and minor PHP coding myself along with my partners were able to launch our very own E-commerce store. </p>

                </div>
              <div class="col-lg-5 text-left">
                      <p> Prior to web development I was a full time musician as well as a retail manager in Telecommunications. My passion for music started when I was 6 years of age. My father had his old drum set sitting in the attic. When I spotted them collecting dust I immediately asked "Hey Dad what are those?" From that point on I was non-stop music. At the age of 23, I attended college, graduating with an associates degree in Business Marketing Administration and jumped into sales and store management for Canada's number 1 telecommunication company Bell Mobility/Virgin Canada.
                      </p>

                      <p>My hobbies and interest include long hikes, camping, traveling, watching live music, redditing and enjoying some down time with my guitar. On occasion I can be found in-person at local meetups and coffee pubs throughout areas of Toronto, Canada, United Kingdom and Ireland working on various coding projects.</p>

                      <p>If you have a question(s) or would like to learn more about what I do, please feel free to contact me on here or by <a href="mailto:byrne.daniel87@gmail.com?Subject=Contact%20DanielJohnApps"target="_top">Email.</a></p><br/>

                      <p> Kind Regards, </p><br/>

                      <p>Daniel</p>
              </div>
            </div>
        </div>
</body>
 