
    <!-- About Section -->
    <header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="col-lg-12 text-center">
                    <h1>About Me</h1>
                    <hr class="star-light">
        </div> 
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                 <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/danieldrums.png", class: "img-thumbnail")%><!--img class="img-responsive" src="img/profile.png"--> <alt="">
            </div>
        </div>     
              <div class="row">
                  <div class="col-lg-6  text-left">
                      <div class="col-lg-6 text-right" id="aboutlogo">
                          <h1>DESIGNS</h1><h1><strong>FORGED</strong></h1>
                          <h1><small><strong>WITH</strong></small>PASSION</h1>
                      </div>
                      <p>My name is Daniel John Byrne I am a Freelance Full Stack Ruby on Rails developer. 
                      Duis vestibulum eleifend fringilla. Pellentesque scelerisque magna ut orci blandit, eget interdum lectus faucibus. Nam velit mi, blandit sit amet diam eget, gravida porttitor sem. Etiam vitae lectus dictum, placerat nulla nec, volutpat dolor. Maecenas eu sapien neque. In lobortis pellentesque lobortis. Duis id fringilla metus, non condimentum quam. Aliquam sit amet lectus ut eros condimentum laoreet. Suspendisse a finibus eros, id posuere lectus.</p>

                      <p>Phasellus sit amet aliquet libero. Proin hendrerit, nunc at varius dignissim, risus tellus tincidunt ipsum, ullamcorper mollis enim neque id purus. Vivamus varius congue ex. Nunc in est sollicitudin enim pretium ultricies. Nunc placerat lorem eu odio dignissim sodales. Morbi at fringilla justo. Aenean fringilla rhoncus dapibus. Praesent et turpis orci.</p>
                </div>
              <div class="col-lg-5 text-left">
                  <p>My name is Daniel John Byrne I am a Freelance Full Stack Ruby on Rails developer. 
                      Duis vestibulum eleifend fringilla. Pellentesque scelerisque magna ut orci blandit, eget interdum lectus faucibus. Nam velit mi, blandit sit amet diam eget, gravida porttitor sem. Etiam vitae lectus dictum, placerat nulla nec, volutpat dolor. Maecenas eu sapien neque. In lobortis pellentesque lobortis. Duis id fringilla metus, non condimentum quam. Aliquam sit amet lectus ut eros condimentum laoreet. Suspendisse a finibus eros, id posuere lectus.</p>

                      <p>Phasellus sit amet aliquet libero. Proin hendrerit, nunc at varius dignissim, risus tellus tincidunt ipsum, ullamcorper mollis enim neque id purus. Vivamus varius congue ex. Nunc in est sollicitudin enim pretium ultricies. Nunc placerat lorem eu odio dignissim sodales. Morbi at fringilla justo. Aenean fringilla rhoncus dapibus. Praesent et turpis orci.</p>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                    <%= link_to "Contact Me", pages_contact_path, class: "fa fa-wechat", class: "btn btn-lg btn-outline" %>
              </div>
        </div>
    </header>