
    <!-- About Section -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                 <%= image_tag("https://s3.us-east-2.amazonaws.com/danieljohnportfolio2/danieldrums.png", class: "img-thumbnail")%><!--img class="img-responsive" src="img/profile.png"--> <alt="">
               <div class="col-lg-8 col-lg-offset-2 text-center">
                  <div class="col-lg-12 text-center">
                              <h1>About Me</h1>
                              <hr class="star-light">
                  </div> 
                    <%= link_to "Contact Me", pages_contact_path, class: "fa fa-wechat", class: "btn btn-lg btn-outline" %>
              </div>
            </div>
        </div>    
   </header> 
   </br>
   <body>
              <div class="row">
                  <div class="col-lg-6  text-left">
                      <div class="col-lg-6 text-right" id="aboutlogo">
                          <h1>DESIGNS</h1><h1><strong>FORGED</strong></h1>
                          <h1><small><strong>WITH</strong></small>PASSION</h1>
                      </div>
                      <p>My name is Daniel John Byrne
                      I created this application to showcase some of my Ruby on Rails abilities. This website features a short portfolio and biography about myself while offering users a chance to sign up an account and create active articles for this site. The articles will be found on the home page under "recent articles". To add/create new artcles you must first <a href="http://danieljohnportfolio.herokuapp.com/users/sign_up"><strong>SignUp!</strong></p></a> 
                    
                      <h3>About Me:</h3>
                      <p>I am a Freelance Full Stack Ruby on Rails developer. I was introduced to Ruby on Rails in 2015 prior to Ruby I was working on WordPress projects and learning basic web development HTML 5 and CSS.</p>

                      <p>In June 2014 me and 2 friends came up with an idea to create an E-Commerce store selling mens clothing and accessories, from there I decided if I'm going to enter the E-commerce world I should learn how to develop my own website and thats exactly what I did; By learning WordPress and minor PHP coding myself along with my partners were able to launch our very own E-commerce store. </p>

                </div>
              <div class="col-lg-5 text-left">
                      <p> Prior to web development I was a full time musician as well as a retail manager in Telecommunications. My passion for music started when I was 6 years of age, my father had his old drum set sitting in the attic, I then asked "Hey Dad what are those?" from that point on I was non-stop music until I was around the age of 23 then I went back to college, earned an associates degree in Business Marketing Administration and jumped into sales and store management for Canada's number 1 telecommunication company, Bell Mobility/Virgin Canada.
                      </p>

                      <p>My hobbies and interest include long hikes, camping, traveling, watching live music, redditing and enjoying some down time with my guitar. On occasion I can be found in local coffee shops around areas of Toronto, Canada and the United Kingdom working on various coding projects and continuing to advance my coding skills.</p>

                      <p>If you have a question(s) or would like to learn more about what I do, please feel free to contact me on here or through <a href="byrne.daniel87@gmail.com">Email.</a> Thanks a lot!</p>
              </div>
        </div>
</body>
 