
<div class="row">
	 <div class="col-lg-12 text-center">
		 <h1>Contact Me</h1>
			 <p class="lead">Thank you for looking at my portfolio!</p>
			 <ul class="list-unstyled">
			 <li>If you have a question(s)</li>
			 <li>Drop me a line!</li>
			 </ul>
	 </div> 	
</div>
<%= render 'pages/mail' %>
