<footer class="footer-distributed">
	<div class="footer-right">
			<div>
				<p class="footer-right">
					<a href="https://www.facebook.com/dancesnitch"><i class="fa fa-facebook"></i></a>
					<a href="http://twitter.com/dancesnitch"><i class="fa fa-twitter"></i></a>
					<!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
					<a href="http://github.com/dancesnitch"><i class="fa fa-github"></i></a>
				</p>
			</div>
		
			<p class="footer-right">
				<i class="devicon-ruby-plain colored"></i>
				<i class="devicon-rails-plain colored"></i>
				<i class="devicon-heroku-plain-wordmark colored"></i>
				<i class="devicon-html5-plain-wordmark colored"></i>
				<i class="devicon-css3-plain-wordmark colored"></i>
				<i class="devicon-bootstrap-plain-wordmark colored"></i>
				<i class="devicon-sass-original colored"></i>

				
		
	</div>
		<div class="footer-left">
			<p class="footer-links">
			·
			<%= link_to "Contact Me", pages_contact_path, class: "page-scroll" %>
			·
			<%= link_to "About Me", pages_about_path, class: "page-scroll" %>
			·
			</p>
		<p class="footer-company-name">DanielJohn|Apps &copy; 2017 </p>
	</div>
</footer>

